/*-- scss:rules --*/
.mg {
  color: Blue;
  background-color: lightgrey;
  margin-right: 100px;
  padding: 5px 5px 5px 5px;
}

.pg {
  color: purple;
  background-color: grey;
  margin-right: 100px;
  padding: 5px 5px 5px 5px;
}

.hl {
  color: DarkRed;
  background-color: darkgrey;
  text-align: right;
  margin-left: 200px;
  padding: 5px 5px 5px 5px;
}
